@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
  background-image: url("./pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.App{
  height:100%;
  display:flex;
  flex-direction:column;
  margin:auto;
  padding:15px;
  font-family: 'Nerko One', cursive;
  align-items: center;
  justify-content: center;
  color:rgb(212, 37, 212);
  
}
.App input{
  max-width:200px;
  background-color: rgb(219, 216, 216);
  border-radius: 10px;
  outline: none;
  padding:5px;
  border:none;
}

.App h3{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
}
.App h3 span{
  background-color: rgb(246, 243, 243);
  padding:10px;
  margin:3px;
  border-radius: 50%;
}
.App h3 span:hover{
  background-color: rgb(233, 229, 229);
  cursor: pointer;
}